.menu {
  background-color: black;
}
.box {
  text-align: center;
  border: 1px solid var(--border-default);
  border-radius: 16px;
}
@media (min-width: 1280px) {
  .menu {
    position: relative;
    display: flex;
  }
  .box {
    width: 50vw;
    margin: 0 0 0 auto;
  }
}
