.list {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.8;
  color: var(--text-default);
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.dots {
  flex-grow: 1;
  height: 1px;
  /* background-color: red; */
  border-bottom: 1px dashed var(--border-default);
  margin: 0 10px;
}
@media (min-width: 1280px) {
  .list {
    font-size: 18px;
  }
}
