.box {
  text-align: center;
  border: 1px solid var(--border-default);
  border-radius: 16px;
  padding-top: 40px;
  padding-bottom: 80px;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.decor {
  text-align: center;
}
.icon {
  color: var(--text-default);
  transform: scale(5, 1.5);
}

@media (min-width: 1280px) {
  .menu {
    position: relative;
    flex-direction: row;
  }
  .box {
    width: 50%;
    height: 100vh;
    margin: 0 0 0 auto;
    padding: 40px 40px 0px 20px;
  }
}
