.text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: var(--text-default);
  margin-bottom: 40px;
}
.order {
  margin: 0 auto;
  font-size: 22px;
  @media (min-width: 768px) {
    width: 50%;
  }
}
