.list {
  width: 100%;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-muted);
}
.item {
  flex-basis: calc(100% / 3);
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid var(--border-default);
  border-radius: 16px;
}
.item > h4 {
  font-family: var(--second-family);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--text-default);
}
.icon {
  color: var(--text-default);
  font-size: 14px;
}
@media (min-width: 1280px) {
  .item > h4 {
    font-size: 24px;
  }
}
