.section {
  position: relative;
  padding: 24px;
  display: flex;
  gap: 16px;
  background-color: var(--text-inverse);
}
.heroContainer {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  padding-left: 2%;
  border-radius: 16px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../assets/img/main_bg.jpg);
  background-repeat: no-repeat;

  background-size: cover;
}
.title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 140px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--text-default);
  margin-right: auto;
}
