.section {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--text-inverse);
}
.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 334px;
  padding-left: 2%;
  border-radius: 16px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../assets/img/main_bg.jpg);
  background-repeat: no-repeat;

  background-size: cover;
}
.title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--text-default);
  margin-right: auto;
}
@media (min-width: 1280px) {
  .section {
    flex-direction: row;
  }
  .heroContainer {
    width: 75%;
    height: 100vh;
  }
  .title {
    font-weight: 400;
    font-size: 140px;
  }
}
@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .heroContainer {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../assets/img/main_bg@2x.jpg);
  }
}
