.box {
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.decor {
  text-align: center;
}
.icon {
  color: var(--text-default);
  transform: scale(5, 1.5);
}

@media (min-width: 1280px) {
  .menu {
    position: relative;
    flex-direction: row;
  }
  .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 16px 0px auto;
  }
}
