.title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-default);
  margin: 28px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.icon {
  color: var(--text-default);
  transform: scale(3, 1.2);
}

@media (min-width: 1280px) {
  .title {
    font-size: 32px;
    margin: 48px 0px;
  }
}
