.menu {
  gap: 16px;
}
.box {
  text-align: center;
  border-radius: 16px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}
.wrapper {
  margin-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-around;
  color: var(--text-default);
}
.reversed {
  flex-direction: column-reverse;
}
.first,
.second {
  border-radius: 16px;
  width: 100%;
  @media (min-width: 1280px) {
  }
}
.reversed > .second {
  border: 1px solid var(--border-default);
}
.first {
  border: 1px solid var(--border-default);
  padding: 54px 20px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (min-width: 1280px) {
  .menu {
    display: flex;
  }
  .wrapper {
    flex-direction: row;
    margin-top: 0;
  }
  .reversed {
    flex-direction: row-reverse;
  }
  .box {
    margin: 0px 16px 0px auto;
  }
}
