.list {
  display: flex;
  gap: 8px;
  border-radius: 24px 0 0 0;
  padding: 12px;

  background-color: var(--background-default);
}
.item {
  color: var(--text-default);
  border: 1px solid var(--border-default);
  border-radius: 500px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border var(--animation-mode);
  &:hover,
  &:focus {
    border: 2px solid var(--text-default);
  }
}
.item > a {
  display: flex;
  align-items: center;
}
.icon {
  width: 14px;
}
@media (min-width: 1280px) {
  .list {
    padding: 24px 16px 16px 24px;
  }
}
