/* .section {
  padding: 24px 0px;
  background-color: black;
} */
.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 20px 0px;
  padding: 0px;
}
.container {
  width: 320px;
  /* padding: 0px 20px; */
  margin: 0 auto;
}

footer {
  margin-top: 48px;
}
@media (min-width: 360px) {
  .container {
    width: 360px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
    /* padding: 0px 32px; */
  }

  section {
    background-color: black;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1280px;
    /* padding: 0px 40px; */
  }

  footer {
    width: 100%;

    /* width: 48%;
    margin: 0px 16px 0px auto; */
  }
  section {
    padding: 24px 0px;
  }
}
.decor {
  text-align: center;
}
.icon {
  color: var(--text-default);
  transform: scale(5, 1.5);
}
