.main {
  gap: 16px;
}
.box {
  text-align: center;

  border-radius: 16px;
}
@media (min-width: 1280px) {
  .main {
    position: relative;
    display: flex;
  }
  .main > .box {
    width: 48%;
    margin: 0px 16px 0px auto;
  }
}
